**1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.**
* 
'hello'
-87.8
- 
/ 
+	
6 

**Answer-**
Among the above options the values are- 'hello', -87.8, 6

The epressions are- -,/,+

**2. What is the difference between string and variable?**

**Answer-**
Variable is a name of a memory location which is used to store a data. This data can be of any type. 

String is a type of data. This data contains characters in between a pair of quots.

**3. Describe three different data types.**

**Answer-** The different types of data are integer,float, string, list etc

**4. What is an expression made up of? What do all expressions do?**

**Answer-**
An expression is made up of operators and operands(values) which are evaluated to produce some value. The operation is performed according to precedence of its operators.
example- (2*3)+4/6= 6.667
Here integers are operands or values and operators are expressions. The evaluation of expression results into a float value.

**5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?**

**Answer-**
An Expression always evaluates to a value. And A statement does whatever the statement says like assigning a vlaue, creating or displaying a value etc

In [2]:
#6. After running the following code, what does the variable bacon contain? bacon = 22 bacon + 1
bacon=22
bacon+1

23

In [2]:
#7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3
#Answer- The value of both terms will be same. In first term the concatenation operation between 2 strings is performed. In the second term
#multiplication operator is used to perform replication operation.

'spamspamspam'

**8. Why is eggs a valid variable name while 100 is invalid?**

**Answer-**
eggs is an alphabetical value to be used as a variable which is valid to use while 100 is a numeric value which can not be used as the name of a variable.
below are some of the points to remeber while creating a variable:

->A variable name must start with a letter or the underscore character

->A variable name cannot start with a number

->A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

->Variable names are case-sensitive (age, Age and AGE are three different variables)

**9. What three functions can be used to get the integer, floating-point number, or string version of a value?**

**Answer-**
the three function used to get the integer loating point number or string version of a value are int(), float(), str(). This concept is called typecasting.

In [13]:
x=int(6)
x

6

In [14]:
x=float(7)
x

7.0

In [15]:
x=str(10)
x

'10'

**10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'**

**Answer-**
This expression causes error because we can't use concatenation operator to concatenate 2 different types of data. In the above problem a string and an integers are used to concatenate. To resolve this error we have to convert the integer to string by putting it in between quots.

In [17]:
'I have eaten'+' 99 '+'burritos'

'I have eaten 99 burritos'